/* ---------------------------------------------------------------------
Original Author: Anthony Ticknor
Contributors: N/A

Target Browsers: All
Media Type: Screen
Width: All
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
Housekeeping (mimic a reset)
------------------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

/* ---------------------------------------------------------------------
Demo Styles - Base
------------------------------------------------------------------------ */
body {
    background: #666;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
}

.h1 {
    font: bold 32px/1 Helvetica, Arial, sans-serif;
    color: #000000;
}

.sample-hd {
    padding-bottom: 12px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 12px;
}

.sample-bd {
    margin-bottom: 32px;
}

